Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*, -cppcoreguidelines-narrowing-conversions, -cppcoreguidelines-non-private-member-variables-in-classes, -cppcoreguidelines-avoid-magic-numbers, modernize-*,-modernize-use-trailing-return-type',-cppcoreguidelines-avoid-do-while